.reveal {
    font-size: 24px;
}

i {
    color: #CC0000;
}

.reveal h1 {
    font-size: 2em;
}

.reveal h2 {
    color: #CC0000;
    text-transform: capitalize;
}

.reveal h3 {
    text-transform: capitalize;
    color: #336600;
}

.reveal .progress {
    height: 15px;
    color: rgb(43,194,83);
}

.reveal .org-src-container {
    font-size: 1.2em;
}

.reveal table {
    border: 2px solid; /* No more visible border */    
}

.reveal td {
    border: 2px solid; /* No more visible border */
    height: 40px;
    transition: all 0.2s;  /* Simple transition for hover effect */
}

.reveal a {
    color: #148A7D;
}

.reveal code {
    color: #711B4F;
}
.MathJax {
    color: #6404f5;
    font-size: 80%;
}

.reveal blockquote {
    border-left: 5px solid #ccc;
    quotes: "\201C""\201D""\2018""\2019";
}

.slide-header {
    position: fixed;
    bottom:0;
}

#sec-title-slide h1 {
    font-size: 2em;
    text-transform: capitalize;
}

#sec-title-slide h2 {
    font-size: 0.9em;
}

#sec-title-slide p {
    display: none;
}

code {
    font-size:60%;
}
